.slider{
    width: 921px;
    height: 720px;
    display: inline-block;
    padding-top: 10px;
}

.designer-listingarea-box  {
    margin: auto;
    width: 72%;
    text-align: center;
}
#img-gallery .big-1 {
      width: 527px;
    text-align: center;
    float: left;
    margin: 0 11px;
    padding: 5px;
    border: 1px solid #e1e1e1
}

#img-gallery #big-img {
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.big-resize {
    height: auto;
width:100%
   
}

#img-gallery ul {
      width: 93px;
    padding: 0;
    margin: 0px 0;
    float: left;
}

#img-gallery ul li {
     position: relative;
    float: left;
    list-style: none;
    margin: 0;
    text-align: center;
}

#img-gallery ul li:empty {
    display: none!Important;
}

#img-gallery ul li.lastthumb {
    margin: 0px;
    float: left;
    margin: 0;
    display: inline-block;
    list-style: none;
}

#img-gallery ul li img {
    padding: 4px;
    margin: 0 0 6px 0;
}

#img-gallery ul li.lastthumb img {
    margin: 0px;
}

.thum-resize {
       max-width: 80px;
    max-height: 100;
    text-align: center;
    background: #fff;
    height: 135px;
    width: 100px;
    border: 1px solid #e1e1e1;
}

img[src=""], img[src=" "] {
    background: none;
    border: none;
    height: 0;
    width: 0;
    box-shadow: none;
    padding: 0 !important;
    margin: 0 !important;
}
